// global classes

button.button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar {
  padding: 0.5rem 1.5rem !important;
}

img {
  max-width: 100vw !important;
  height: auto;
}
