// fonts
$font-mono: 'Space Mono', monospace;
$font-raleway: 'Raleway', sans-serif;
$font-rubik: 'Rubik', sans-serif;
// colors
$color-primary: #003859;
$color-second: #00a5c4;
$color-yellow: #ffd289;
